<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" href="../static/styles/css/login.css">
        <link rel="stylesheet" href="../static/styles/css/login-teacher.css">
        <script src="../static/js/script.js"></script>
    </head>

    <body>
        <div class="header">
            <div class="logo">Dziennik Elektroniczny</div>

        </div>
        <div class="container">
            <div class="login-form">
                <img class="icon">
                <p class="first">Wpisz swój adres e-mail</p>
                <input class="email" placeholder="Wpisz e-mail">
                <p>Wpisz swoje hasło</p>
                <input class="password" placeholder="Wpisz hasło">
                <button class="login-button">Zaloguj</button>
            </div>
        </div>

    </body>
</html>